<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCategoryUrlCom mand">
        <arguments>
            <argument name="emulation" xsi:type="array">Magento\Store\Model\App\Emulation\Proxy</argument>
        </arguments>
    </type>
    <type name="Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCategoryPathCommand">
        <arguments>
            <argument name="emulation" xsi:type="array">Magento\Store\Model\App\Emulation\Proxy</argument>
        </arguments>
    </type>
    <type name="Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCmsPageUrlCommand">
        <arguments>
            <argument name="emulation" xsi:type="array">Magento\Store\Model\App\Emulation\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product_url_regeneration_command" xsi:type="object">Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateProductUrlCommand</item>
                <item name="category_url_regeneration_command" xsi:type="object">Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCategoryUrlCommand</item>
                <item name="category_path_regeneration_command" xsi:type="object">Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCategoryPathCommand</item>
                <item name="cms_page_url_regeneration_command" xsi:type="object">Elgentos\RegenerateCatalogUrls\Console\Command\RegenerateCmsPageUrlCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator" type="Elgentos\RegenerateCatalogUrls\Model\CategoryUrlPathGenerator" />
</config>
