<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product_url_regeneration_command" xsi:type="object">Iazel\RegenProductUrl\Console\Command\RegenerateProductUrlCommand</item>
                <item name="category_url_regeneration_command" xsi:type="object">Iazel\RegenProductUrl\Console\Command\RegenerateCategoryUrlCommand</item>
                <item name="category_path_regeneration_command" xsi:type="object">Iazel\RegenProductUrl\Console\Command\RegenerateCategoryPathCommand</item>
                <item name="cms_page_url_regeneration_command" xsi:type="object">Iazel\RegenProductUrl\Console\Command\RegenerateCmsPageUrlCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator" type="Iazel\RegenProductUrl\Model\CategoryUrlPathGenerator" />
</config>
